h1 {
  margin: 20px;
}

#container {
  display: flex;
  flex-wrap: wrap; /* Xếp các nút theo hàng */
  align-items: flex-start; /* Đưa sát trái */
  justify-content: flex-start; /* Hoặc justify-content: flex-end; để sát phải */
  margin: 20px;
  gap: 5px; /* Khoảng cách giữa các nút */
}

button {
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}

/* My friend */

body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}

#myFriend {
  display: flex;
  justify-content: center; /* Căn ngang */
  align-items: center; /* Căn dọc */
  height: 100vh; /* Chiều cao toàn màn hình */
  margin: 0; /* Xóa margin mặc định */

  color: red;
  font-size: 50px;
  font-weight: bold;
}
